<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>EditStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/EditStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
</web-app>
